.toast {
    padding: 15px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    min-height: 50px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 20px;
}

.toast-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 9999;
}

.toast-container.top-right {
    top: 20px;
    right: 20px;
}

.toast-container.top-left {
    top: 20px;
    left: 20px;
}

.toast-container.bottom-right {
    bottom: 20px;
    right: 20px;
}

.toast-container.bottom-left {
    bottom: 20px;
    left: 20px;
}

.success {
    background-color: rgb(100, 212, 82);
}
.error {
    background-color: rgb(221, 85, 85);
}
.warning {
    background-color: rgb(187 160 39);
}
.info {
    background-color: rgb(131 191 253);
}

.message_container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.message {
    margin-left: 10px;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.close_icon {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
