.star-wrapper {
    cursor: pointer;
    position: relative;
    font-size: 80px;
}

.empty-star {
  color: lightgray;
}

.filled-star {
    position: absolute;
    /* transform: translateX(-100%); */
    top: 10;
    left: 0;
    overflow: hidden;

    width: 0;
    color: gold;
}