.products {
    margin: 20px;
    padding: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.products__single {
    cursor: pointer;
    height: 250px;
    padding: 20px;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
}

.products__single img {
    width: 100%;
    height: 90%;
    object-fit: contain;
    margin-bottom: 3px;
}

.products__single > div{
    color: black;
}

.pagination > span {
    cursor: pointer;
    padding: 15px 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.selected {
    background-color: rgb(80, 80, 80);
}