.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.time, .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hours, .minutes, .seconds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
}

button {
    width: 200px;
    margin: 0 20px;
    padding: 20px;
}